csharp/RapperAPI-master/bin/
csharp/RapperAPI-master/obj/
csharp/RapperAPI-master/.vscode/
csharp/BooksAuthorsAndPublishers/appsettings.json
python/shark-review/requirements.txt
python/shark-review/.vscode/
